---
import Layout from "../layouts/Layout.astro";

const items = [
  {
    item: 1,
  },
  {
    item: 1,
  },
  {
    item: 1,
  },
  {
    item: 1,
  },
];
---

<Layout
  title="Hey make sure we have all your favorite items on your shopping cart!"
  productsCount="Items count: 4"
>
<div class="cart-parent">
  <div class="cart-item" id="cart">
    
    {
        items.map(
            (item) => (
                <div
      class="lg:w-1/2 md:w-8/12 w-full lg:px-8 lg:py-14 md:px-6 px-4 md:py-8 py-4 bg-white dark:bg-gray-800 overflow-y-hidden overflow-x-hidden lg:h-screen h-auto"
      id="scroll"
    >
      <div class="md:flex items-strech py-8 md:py-10 lg:py-8 border-t border-gray-50">
        <div class="md:w-4/12 2xl:w-1/4 w-full">
          <img
            src="https://i.ibb.co/SX762kX/Rectangle-36-1.png"
            alt="Black Leather Bag"
            class="h-full object-center object-cover md:block hidden"
          />
          <img
            src="https://i.ibb.co/g9xsdCM/Rectangle-37.pngg"
            alt="Black Leather Bag"
            class="md:hidden w-full h-full object-center object-cover"
          />
        </div>
        <div class="md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center">
          <p
            class="text-xs leading-3 text-gray-800 dark:text-white md:pt-0 pt-4"
          >
            RF293
          </p>
          <div class="flex items-center justify-between w-full pt-1">
            <p
              class="text-base font-black leading-none text-gray-800 dark:text-white"
            >
              North wolf bag
            </p>
            <select
              aria-label="Select quantity"
              class="py-2 px-1 border border-gray-200 mr-6 focus:outline-none dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-white"
            >
              <option>01</option>
              <option>02</option>
              <option>03</option>
            </select>
          </div>
          <p class="text-xs leading-3 text-gray-600 dark:text-white pt-2">
            Height: 10 inches
          </p>
          <p class="text-xs leading-3 text-gray-600 dark:text-white py-4">
            Color: Black
          </p>
          <p class="w-96 text-xs leading-3 text-gray-600 dark:text-white">
            Composition: 100% calf leather
          </p>
          <div class="flex items-center justify-between pt-5">
            <div class="flex itemms-center">
              <p
                class="text-xs leading-3 underline text-gray-800 dark:text-white cursor-pointer"
              >
                Add to favorites
              </p>
              <p
                class="text-xs leading-3 underline text-red-500 pl-5 cursor-pointer"
              >
                Remove
              </p>
            </div>
            <p
              class="text-base font-black leading-none text-gray-800 dark:text-white"
            >
              ,000
            </p>
          </div>
        </div>
      </div>
    </div>
            )
        )
    }
  </div>
    
    <div class="cart-total">
      <div
        class="flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto"
      >
        <div>
          <p
            class="lg:text-4xl text-3xl font-black leading-9 text-gray-800 dark:text-white"
          >
            Summary
          </p>
          <div class="flex items-center justify-between pt-16">
            <p class="text-base leading-none text-gray-800 dark:text-white">
              Subtotal
            </p>
            <p class="text-base leading-none text-gray-800 dark:text-white">
              1,000
            </p>
          </div>
          <div class="flex items-center justify-between pt-5">
            <p class="text-base leading-none text-gray-800 dark:text-white">
              Shipping
            </p>
            <p class="text-base leading-none text-gray-800 dark:text-white">
              100
            </p>
          </div>
          <div class="flex items-center justify-between pt-5">
            <p class="text-base leading-none text-gray-800 dark:text-white">
              Tax
            </p>
            <p class="text-base leading-none text-gray-800 dark:text-white">
              2%
            </p>
          </div>
        </div>
        <div>
          <div class="flex items-center pb-6 justify-between lg:pt-5 pt-20">
            <p class="text-2xl leading-normal text-gray-800 dark:text-white">
              Total
            </p>
            <p
              class="text-2xl font-bold leading-normal text-right text-gray-800 dark:text-white"
            >
              1,240
            </p>
          </div>
          <button
            onclick="
            checkoutHandler1(true)
            "
            class="text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700"
            >Checkout</button
          >
        </div>
      </div>
    </div>
</div>
</Layout>

<style>
  /* width */
  #scroll::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  #scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  #scroll::-webkit-scrollbar-thumb {
    background: rgb(133, 132, 132);
  }

  .cart-item {
    display: flex;
    width: 70%;
    padding-right: 2%;
    align-items: normal;
    flex-direction: column;
  }

  .cart-total {
    width: 30%;
  }

  .cart-parent {
    display: flex;
  align-items: stretch;
  padding: 5%;
  }
</style>

<script>
  let checkout = document.getElementById("checkout");
  let checdiv = document.getElementById("chec-div");
  let flag3 = false;
  const checkoutHandler = () => {
    if (!flag3) {
      checkout.classList.add("translate-x-full");
      checkout.classList.remove("translate-x-0");
      setTimeout(function () {
        checdiv.classList.add("hidden");
      }, 1000);
      flag3 = true;
    } else {
      setTimeout(function () {
        checkout.classList.remove("translate-x-full");
        checkout.classList.add("translate-x-0");
      }, 1000);
      checdiv.classList.remove("hidden");
      flag3 = false;
    }
  };
</script>
