---
import { Button, ButtonGroup } from "@mui/material";
import Layout from "../layouts/Layout.astro";
import MegaAccessBar from "../components/MegaAccessBar.astro";
---

<Layout title="Profile">
  <div class="profile-main">
    <MegaAccessBar />
    <div class="account-main">
      <div class="title">PROFILE DETAILS</div>
      <table class="details">
        <tr>
          <td>Full Name</td>
          <td>Cyber Noob</td>
        </tr>

        <tr>
          <td>Gender</td>
          <td>Male</td>
        </tr>

        <tr>
          <td>Mail</td>
          <td>darkzesty@gmail.com</td>
        </tr>

        <tr>
          <td>Alternate Mail</td>
          <td>-</td>
        </tr>

        <tr>
          <td>Alternate Mobile Number</td>
          <td>-</td>
        </tr>

        <tr>
          <td>Mobile Number</td>
          <td>940230123</td>
        </tr>

        <tr>
          <td>Date of Birth</td>
          <td>03/07/1998</td>
        </tr>

        <tr>
          <td>Location</td>
          <td>Bangalore</td>
        </tr>
      </table>
      <div class="account-buttons">
          <Button variant="outlined" size="large">EDIT</Button>
        </div>
    </div>
  </div>
</Layout>

<style>
    .profile-main {
        display: flex;
        flex-direction: row;
        margin: 3%;
    }

  .account-main {
    width: 100%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
  }

  .details {
    width: 100%;
    margin-top: 5%;
    padding: 5%;
  }

  tr {
    line-height: 50px;
  }

  .account-buttons {
    width: 50%;
  }
</style>
