---
import MegaAccessBar from "../components/MegaAccessBar.astro";
import OrderCard from "../components/OrderCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="my orders">
  <div class="orders-main">
    <MegaAccessBar />
    <div class="orders-list">
      <OrderCard />
      <OrderCard />
    </div>
  </div>
</Layout>

<style>
  .orders-main {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    width: 100%;
  }

  .orders-list {
    width: 50%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
  }
</style>
