---
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';
import axios from "../../node_modules/axios";

var query = Astro.url.searchParams.get('query') || ''
console.log('query -' + query)
var items = []
//Fire api request
const getSearchResults = async (val: string) => {
  await axios({
    url: "/search/products",
    method: "get",
    baseURL: "http://localhost:8082",
    params: {
      query: val,
    },
  })
    .then((response) => {
      // console.log("[LPL]search result - " + JSON.stringify(response.data, null, 4));
      
      //Extarct data and assign to items
      const children = response.data.root.children
      for(const child of children) {
        items.push(child)
      }
      // console.log('items == ', items)
    })
    .catch((error) => {
      console.log("[search] " + error);
    });
};

  if (query != '') {
    await getSearchResults(query)
  } else {
    console.log('no search term passed')
  }

var result = []
items.forEach(item => {
  let map = new Map(Object.entries(item));
  let fields = new Map(Object.entries(map.get('fields')));
  const title = fields.get('title');
  const age = fields.get('age');
  const weight = fields.get('weight');
  const lineage = fields.get('lineage');
  const price = fields.get('price');
  const color = fields.get('color');
  const id = fields.get('idProducts_Animal');

  let res = {
    'Title': title, 
    'Age': age,
    'Weight': weight,
    'Lineage': lineage,
    'Price': price,
    'Color': color,
    'id': id
  }
  result.push(res)
})
---

<Layout title="Search results for Dogs." productsCount="2358 products found">
  <div class="side-to-side">
    <div class="grid-parent">
        {
          result.map((item) => (
            <Card item = { item }/>
          )
          )
        }
    </div>
  </div>
</Layout>

<style>
.grid-parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    width: 100%;
    padding-right: 2%;
}

.grid-child {
    margin: 10px;
}

.side-to-side {
    display: flex;
    align-items: stretch;
}
</style>