---
import { imageConfig } from "astro:assets";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import ProductFilter from "../components/PLP/ProductFilter.astro";

const items = [
  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },

  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },

  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },

  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },

  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },

  {
    title: "cat",
    body: "somethin ...",
    href: "/#",
  },
];
---

<Layout title="Search results for Dogs." productsCount="2358 products found">
  <div class="side-to-side">
  <ProductFilter/>
  <div class="grid-parent">
    {
      items.map((item) => (
        <Card
          clazz="grid-child"
          id="card"
          title="cat"
          body="somethin ..."
          href="/#"
        />
      ))
    }
  </div>
  </div>
</Layout>

<style>
  .grid-parent { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-gap: 10px; 
    width: 100%;
    padding-right: 2%; 
} 
.grid-child { 
    margin: 10px; 
}

.side-to-side {
  display: flex;
  align-items: stretch;
}
</style>
