---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <div>
    <div
      id="g_id_onload"
      data-client_id="183611527273-2ejm3gl7km2q4mc6n8slht1i23f38ps1.apps.googleusercontent.com"
      data-callback="onSignin"
    >
    </div>
    <div
      class="g_id_signin"
      data-type="standard"
      data-size="large"
      data-theme="outline"
      data-text="sign_in_with"
      data-shape="rectangular"
      data-logo_alignment="left"
    >
    </div>
  </div>
</Layout>

<script is:inline>
  function onSignin(googleUser) {
    console.log("on signin func: " + googleUser);
    var id_token = googleUser["credential"];
    console.log("Bearer " + id_token);
  }
</script>
