---
import axios from "axios";
import Layout from "../layouts/Layout.astro";
import ClosetCard from "../components/ClosetCard.astro";
import { fade } from "astro:transitions";
import { get_wishlist } from "../lib/petstore_service";

let session = Astro.cookies.get("session");

let wishlist_response = await get_wishlist(session.value);
const items = wishlist_response['items'];
---

<Layout
  title="Hey make sure we have all your favorite items on your shopping cart!"
>
  <div class="title">MY WISHLIST</div>
  <div class="closet-parent">
    <div class="closet-item" id="closet">
      {items.map((item) => <ClosetCard item={item} />)}
    </div>
  </div>
</Layout>

<style>
  .title {
    margin-top: 3%;
    margin-left: 3%;
  }

  .closet-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: flex-start;
  }
</style>
