---
import { Button, Chip } from "@mui/material";
import EditAddress from "../components/EditAddress.jsx";
import RemoveButton from "../components/RemoveButton.jsx"

interface Props {
  address: Object;
  session: Object;
}

const { address, session } = Astro.props;
---

<div class="address-card-parent" id={address["id"]}>
  <div class="address-details">
    <div class="address-header">
      <div class="address-title">AJAY D</div>
      {address["is_default"] == 1 ? <Chip label="Home" color="primary" /> : ""}
    </div>
    <div class="mobile">Mobile 9898318001</div>

    <div class="address">{address["door_no"]}</div>
    <div class="address">{address["line_one"]}</div>
    <div class="address">{address["line_two"]}</div>
    <div class="address">{address["region_name"]}</div>
    <div class="address">{address["city"]}</div>
    <div class="address">{address["state"]}</div>
    <div class="address">{address["pincode"]}</div>

    <div class="buttons">
      <EditAddress session={session} address={address} client:load />
      <RemoveButton session={session} address={address} client:load />
    </div>
  </div>
</div>

<style>
  .address-card-parent {
    width: 100%;
    margin-bottom: 5%;
    box-shadow: 0 6px 20px -10px #000000;
    cursor: pointer;
  }

  .address-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3%;
  }

  .address-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .address-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 2%;
  }

  .mobile {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 5%;
  }

  .address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: small;
    font-family: "Courier New", Courier, monospace;
    white-space: pre-line;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    margin-top: 3%;
  }

  .buttons > * {
    width: 40%;
    color: rgb(25, 118, 210);
    text-align: center;
    padding: 1%;
    border: 2px solid rgba(25, 118, 210, 0.5);
  }
</style>
