---
const accessPageMap = {
  Profile: "/myaccount",
  Orders: "/orders",
  "Address Book": "/addressbook",
};

const legal = {
  "Terms and Conditions": "/tnc",
  "Privacy Policy": "/privacy",
};
---

<div class="access-parent">
  <div class="access-child">
    <div class="access-title">Manage Account</div>

    <div class="access-items">
      {
        Object.keys(accessPageMap).map((key) => (
          <div onclick={"location.href='" + accessPageMap[key] + "'"}>
            {key}
          </div>
        ))
      }
    </div>
  </div>

  <div class="access-child">
    <div class="access-title">Legal Details</div>

    <div class="access-items">
      {
        Object.keys(legal).map((key) => (
          <div onclick={"location.href='" + legal[key] + "'"}>{key}</div>
        ))
      }
    </div>
  </div>
</div>

<style>
  .access-parent {
    height: 500px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 10px 6px 5px -10px #000000;
  }

  .access-child {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .access-title {
    margin-top: 35%;
    color: #aaaaaa;
  }

  .access-items {
    margin-top: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
  }

  .access-items > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    box-shadow: 0px 6px 10px -10px #000000;
    cursor: pointer;
  }
</style>

<script>
  const highlighter = (urls: string[], target: string) => {
    const condition = () => {
      if (urls.length == 1) return window.location.href.includes(urls[0]);

      let cond = window.location.href.includes(urls[0]);
      for (let i = 1; i < urls.length; i++) {
        cond = cond || window.location.href.includes(urls[i]);
      }

      return cond;
    };

    console.log('condition -> ', condition());
    if (condition()) {
      window.onload = function () {
        let items = document.getElementsByClassName("access-items");
        for (let i = 0; i < items.length; i++) {
          let access_items = items.item(i).getElementsByTagName("div");
          for (let j = 0; j < access_items.length; j++) {
            let access_item = access_items.item(j);
            console.log("item - ", access_item.innerHTML);
            if (access_item.innerHTML.toLowerCase() == target) {
              access_item.style.color = "rgb(0, 136, 255)";
            }
          }
        }
      };
    }
  };

  highlighter(["/orders", "/order_details"], "orders");
  highlighter(["/addressbook"], "address book");
  highlighter(["/tnc"], "terms and conditions");
  highlighter(["/myaccount"], "profile")
</script>
