<div class="order-card-parent">
  <div class="product">
    <div class="orders-img">
      <img
        class="o-img"
        src="https://cdn.dotpe.in/longtail/store-items/8096649/RVQ3ACZj.jpeg"
      />
    </div>

    <div class="product-details">
      <div class="order-product-title">Beagle Puppy</div>
      <div class="order-product-collection">Pet Collection</div>

      <div class="product-sub-info">
        <div class="sub-item">
          <div>Lineage: Pure</div>
        </div>

        <div class="sub-item">
          <div>Age: 2Weeks</div>
        </div>

        <div class="delivery-status">
          <div>Delivery Status:</div>
          <div class="status-info">
            <img src="paw_tick.png" class="delivery-icon" />
            <div>Delivered</div>
          </div>
        </div>

        <div class="sub-item">
          <div>Delivered On: 23 Jan 2023</div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .order-card-parent {
    width: 100%;
    height: 250px;
    margin-bottom: 5%;
    box-shadow: 0 6px 20px -10px #000000;
    cursor: pointer;
  }

  .product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3%;
  }

  .orders-img {
    height: 30%;
    width: 30%;
  }

  .o-img {
    padding: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    object-fit: contain;
  }

  .product-details {
    width: 60%;
  }

  .order-product-title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 2%;
  }

  .order-product-collection {
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-bottom: 5%;
  }

  .product-sub-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
    font-size: small;
    font-family: "Courier New", Courier, monospace;
  }

  .delivery-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    color: rgb(0, 171, 74);
    margin-top: 5%;
  }

  .delivery-status > .status-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
  }

  .delivery-status > .status-info > * {
    padding-left: 3%;
  }

  .delivery-icon {
    width: 30px;
    height: 30px;
  }
</style>

<script>
  let ordersCards = document.getElementsByClassName("order-card-parent");
  for (let i = 0; i < ordersCards.length; i++) {
    let card = ordersCards.item(i);
    card.addEventListener(
      "click",
      async (event) => {
        event.preventDefault();
        // console.log("card -> " + card.getAttribute("id"));
        location.href = "/order_details?orderId=" + card.getAttribute("id") + "&itemId=" + null;
      },
      false
    );
  }
</script>
