---
import { Button, TextField } from "@mui/material";
---

<div class="search-container">
  <TextField 
  label="Name"
  sx={{
    "width": "60%"
}}>
<Button variant="contained" size="medium">Search</Button>
</TextField>
</div>

<style>
  .search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 3%;
  }

  .searchbar {
    width: 65%;
  }

  /* responsive */
  @media (max-width: 480px) {
    .search-container {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 5%;
    }
  }
</style>

<script>
  let searchbutton = document.getElementById("searchbutton");
  let input = document.getElementById("default-search") as HTMLInputElement;

  searchbutton.addEventListener(
    "click",
    async (event) => {
      event.preventDefault();
      location.href = '/plp?query=' + input.value
    },
    false
  )
</script>
